<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
    <h1>About Tylor Swift</h1>
    <p>Taylor Alison Swift (born December 13, 1989) is an American singer-songwriter. <br>
        Her discography spans multiple genres and her narrative songwriting—often inspired by her personal life—has received critical praise and widespread media coverage. <br>
        Born in West Reading, Pennsylvania, Swift moved to Nashville, Tennessee, at age 14 to become a country artist. <br>
        She signed a songwriting deal with Sony/ATV Music Publishing in 2004 and a recording contract with Big Machine Records in 2005.<br>
        Her 2006 self-titled debut album made her the first female country singer to write or co-write a US platinum-certified album entirely.
    </p>
    <a href="/home">Go to Home page</a>
    <a href="/works">Go to Works page</a>
    <a href="/photo_gallery">Check her pic</a>
</body>
</html>