<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
    <h1>Welcome to the webpage</h1>
    <p>This is a webpage about Tylor Swift<br>
    you are expecting more content?<br>
    Nah that's enough<br>
    The developer is tired</p>
    <a href="/about">Go to About Page</a>
    <a href="/works">Go to works page</a>
    <a href="/photo_gallery">Check her pic</a>
</body>
</html>