<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
    <h1>What are her works</h1>
    <p>
        She has lots of musics<br>
        1st popular: shake it off <br>
        2nd popular: blank space <br>
        3rd popular: love story <br>
        4th popular: I knew you were trouble <br>
    </p>
    <a href="/home">Go to Home Page</a>
    <a href="/about">Go to About Page</a>
    <a href="/photo_gallery">Check her pic</a>
</body>
</html>
